body {
    font-size: 16px;
}

#navbar {
    width: 100%;
    padding: 15px 0;
    font-size: 1.3em;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

#newContacts {
    float: left;
}

#showContacts {
    float: right;
}

button {
    padding: 6px 11px;
    margin: 0 16px;
    font-size: large;
}

#container {
    position: absolute;
    left: 0;
    width: 100%;
    top: 55px;

}


#submitContact {
    position: relative;
    height: 320px;
    width: 90%;
    max-width: 320px;
    margin: 15px auto;
    padding: 0 10px;
    padding: 2%;
    text-align: center;
}

#submitContact input{
    width: 90%;
    padding: 4%;
    margin: 2%;
    height: 2em;
}

#Sv{
    position: absolute;
    background-color: black;
    color: white;
    font-size: 1em;
    height: 3em;
    width: 15em;
    bottom: : 60px;
    left: 0;
    width: 100%;
    text-align: center;
}
#back{
    position: absolute;
    background-color: black;
    color: white;
    font-size: 1em;
    height: 3em;
    width: 15em;
    bottom: : 60px;
    left: 0;
    width: 100%;
    text-align: center;
}
