body {
    font-family: Roboto, sans-serif;
}

#navbar {
    background-color:black;
    color: white;
    box-shadow: red 3px 3px 5px;
}

#showContacts, #newContacts {
    border: 1px white solid;
}

button {
    background-color: white;
    color: red;
}

#submitContact{
    box-shadow: red 3px 3px 5px;
    border: 1px red solid;
}
